@import "/src/assets/styles/mixins.scss";
@import "/src/assets/styles/variables.scss";

@font-face {
  font-family: "Jost";
  src: url("/src/assets/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/src/assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@include reset-styles;
html, body {
  height: 100%;
  font-family: $font-family-default;

}
html {
  @include html-tag-styles;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

li {
  list-style: none;
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column
}
.main {
  flex: 1 1 auto;
}
.container {
  @include container-styles;
}
.top {
  @include top-styles;
  flex: 1 1 auto;
}
.main-content {
  @include top-styles;  
}

:disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: not-allowed;
  background-color: #dddddd;
  color: #666;
  box-shadow: none;
  text-shadow: none;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}

.base-input, .base-textarea {
  @include default-text-styles;
  flex: 1;
  margin: 5px;
  padding: 20px;
  border: none;
  border-bottom: 2px solid $color-text-secondary;
  @media (max-width: 620px) {
    border-bottom: 1px solid $color-text-secondary;
  }
}

.base-input::placeholder {
  @include default-text-styles;
}

.base-textarea {
  width: 100%;
    padding-bottom: 40px;
}

article {
  &:hover {
    .button-circle_small {
      background-color: #fff;
    }
  }

  &:nth-child(2) {
    .button-circle_small {
      background-color: #fff;
    }
  }
}

.article-latest {
  &:nth-child(2):hover {
    .button-circle_small {
      background-color: #fff;
    }
  }

  &:nth-child(2) {
    .button-circle_small {
      background-color: $color-background-highlight;
    }
  }
}
.products__cards_products .product-p img {
  @media (max-width: 620px) {
    border-radius: 7px;
  }
}

.products__cards_main .product:nth-child(4n + 1) .product__img {
  border-top-right-radius: 50px;
}
.products__cards_main .product:nth-child(4n + 2) .product__img {
  border-top-left-radius: 50px;
}
.products__cards_main .product:nth-child(4n + 3) .product__img {
  border-bottom-right-radius: 50px;
}
.products__cards_main .product:nth-child(4n) .product__img {
  border-bottom-left-radius: 50px;
}

.products__cards_main .product .product__img {
  height: 500px;
  @media (max-width: 1200px) {
    border-radius: 50px;
    height: 430px;
  }
  @media (max-width: 620px) {
    height: 320px;
  }
  @media (max-width: 440px) {
    height: 250px;
  }
}

.products__cards_main .product .button-circle_big img {
  @media (max-width: 620px) {
    width: 15px;
    height: 15px;
  }
}

